.root-container {
	-fx-background-color: #f4f4f4;
	-fx-pref-width: 500px;
	-fx-pref-height: 500px;
}

.header-label {
	-fx-font-size: 24px;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
}

.label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #555555;
}

.text-field {
	-fx-font-size: 14px;
	-fx-background-radius: 5;
	-fx-padding: 8;
	-fx-border-color: #cccccc;
	-fx-border-radius: 5;
}

.text-field:focused {
	-fx-border-color: #4CAF50; /* מסגרת ירוקה בפוקוס */
	-fx-background-color: #ffffff;
}

.status-label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.button-primary {
	-fx-background-color: #4CAF50;
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-cursor: hand;
	-fx-padding: 10 20;
}

.button-primary:hover {
	-fx-background-color: #45a049; /* ירוק קצת יותר כהה במעבר עכבר */
}

.button-secondary {
	-fx-background-color: #9e9e9e;
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-cursor: hand;
	-fx-padding: 10 20;
}

.button-secondary:hover {
	-fx-background-color: #757575;
}