.root {
    -fx-background-color: #f4f6f8;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.root-container {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-max-width: 500px;
    -fx-pref-height: 600px; 
}
.main-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.welcome-label {
    -fx-font-size: 16px;
    -fx-text-fill: #7f8c8d;
}

.section-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #95a5a6;
    -fx-padding: 10 0 5 0;
}
/*design buttons*/ 
.menu-button {
    -fx-background-color: #3498db; 
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-pref-width: 280px;
    -fx-pref-height: 45px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
    
}

.menu-button:hover {
	-fx-background-color: #1976D2;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.menu-button:pressed {
    -fx-background-color: #0d47a1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0, 0, 1);
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.manager-button {
    -fx-background-color: #8e44ad; 
}

.manager-button:hover {
    -fx-background-color: #732d91;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}
.manager-button:pressed {
    -fx-background-color: #5e2375;
}

.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: #e74c3c;
    -fx-font-weight: bold;
    -fx-border-color: #e74c3c;
    -fx-border-radius: 5;
    -fx-pref-width: 150px;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}

/* Special Design for Exit Button (Red) */
.exit-button {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    
    -fx-font-size: 15px; 
    -fx-font-weight: bold;
    -fx-pref-width: 280px;
    -fx-pref-height: 45px; 
    
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.exit-button:hover {
    -fx-background-color: #d32f2f;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.exit-button:pressed {
    -fx-background-color: #b71c1c;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0, 0, 1);
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}