/* General Background */
.root {
    -fx-background-color: #f4f6f8;
}

/* Title */
.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-font-family: "Segoe UI";
}

/* Table View Styling */
.table-view {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

.table-view .column-header {
    -fx-background-color: #34495e;
    -fx-size: 35px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:filled:selected {
    -fx-background-color: #3498db;
}

/* Back Button */
.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: #7f8c8d;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}
.back-button:hover {
    -fx-text-fill: #2c3e50;
}