/* ClientConnectForm.css */

.root {
    /* Project's light brown background color */
    -fx-background-color: #deb887; 
}

.button {
    -fx-background-color: skyblue;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand; /* Changes cursor to hand icon */
}

.button:hover {
    /* Change color on mouse hover */
    -fx-background-color: deepskyblue; 
}

.text-field {
    -fx-background-radius: 5;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Specific styling for the error label (Targeted by fx:id="lblError") */
#lblError {
    -fx-text-fill: red;
    -fx-font-weight: bold; 
    -fx-font-size: 14px;
}